.game-state {
  position: relative;
}

.chess-board-and-figures {
  width: fit-content;
  padding: 20px;
  background-color: black;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  height: fit-content;
}

.chess-board-col-letters {
  margin-left: 18px;
}

.chess-board-col-letter {
  display: inline-flex;
  color: white;
  width: 50px;
  justify-content: center;
  height: 18px;
  align-items: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.chess-board-row {
  display: flex;
}

.chess-board-row-number {
  width: 18px;
  background-color: black;
  color: white;
  justify-content: unset;
  display: flex;
  align-items: center;
}

.chess-field {
  height: 50px;
  width: 50px;
  display: inline-flex;
}

.chess-field.white {
  background-color: bisque;
}

.chess-field.black {
  background-color: brown;
}

.state-data-container {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
  margin: 4px 0;
}
.state-data {
  background: black;
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin: 4px 0;
  text-align: center;
}
