.chess-board-row {
    display: flex;
}

.chess-board-row-number {
    width: 18px;
    background-color: black;
    color: white;
    justify-content: unset;
    display: flex;
    align-items: center;
}