html, body {
    height: 100%;
    width: 100%;
    position: absolute;
}

.login {
    background: burlywood;
    height: 40px;
    /* width: -moz-fit-content; */
    width: fit-content;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0px 27px;
    border-radius: 20px;
    margin: 30px;
    cursor: pointer;
  
}