body {
  margin: 0;
  font-family: "Courier";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  position: absolute;
  background: darkslategray;
  display: inline-block;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chess-ui {
  display: flex;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 8px 12px;
  height: fit-content;
  border-radius: 20px;
  background-color: black;
  margin: 0 8px;
}

.button {
  background: burlywood;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 27px;
  border-radius: 20px;
  cursor: pointer;
  margin: 8px 0;
  width: 200px;
  text-align: center;
}

.button:hover {
  background-color: tan;
}

.button:active {
  background-color: darksalmon;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: black;
  width: 270px;
  margin: 0 8px;
  box-sizing: border-box;
}

.title {
  margin: 50px 30px 65px;
  font-size: 60px;
  font-family: "Courier";
  font-weight: bold;
  background: brown;
  border: bisque 5px solid;
  padding: 15px;
  width: 991px;
  text-align: center;
  color: bisque;
  border-radius: 20px;
}
